* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: 'Arial', sans-serif; 
    background: #141414; 
    color: white;
}

.table {
    background-color: black; 
    color: white; 
    border-radius: 5px; 
    overflow: hidden; 
}

.table thead {

    background-color: black; 
    color: white; 
}

.table th {
    padding: 10px; 
}

.table tbody tr:hover {
    background-color: #f1f1f1; 
}

.table td {
    padding: 10px; 
}

.btn-primary {
    background-color: #e50914;
    color: white;
}

.btn-primary:hover {
    background-color: #f40612; 
}